#logsTable {
	background-color: #666;
	width: 100%;
	font-size: 0.75em;
}

#logsTableHeader {
	color: lightgray;
	font-variant: small-caps;
}

.logsTableCell {
	background-color: #444;
	padding-left: 3px;
}

.logsTableTimestamp {
	width: 120px;
}

.logsTableDebug {
	color: white;
}

.logsTableError {
	color: red;
}

.logsTableWarning {
	color: orange;
}

.logsTableInfo {
	color: lightgreen;
}